<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'fields', f: f %>

      <%= f.label :photo, 'Profile Picture' %>
      <%= f.file_field :photo %>

      <%- unless @user.new_record? || !@user.photo? -%>

      <%= f.label(:delete_photo, 'Click here to delete photo') %>
      <%= image_tag(@user.photo.url, :alt => 'Photo', :title => 'Current photo') %>
      <%= f.check_box(:delete_photo) %>
  <%- end -%>

</br>
      
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </br>
    <h4>Or Gravatar</h4>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>