<% if signed_in? %>

  <% provide(:title, 'Not Page Found') %>
  <div class="row">
    <h1 id="pageN">Page not found</h1>
    <p class="staticP">Sorry that page doesn't exist or was deleted. We've been notified about this problem. Thanks for noticing.</p>
  </div>

<% else %>

  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>
        <h3>Optional</h3>
        <div class="definition">
          <small>If no picture is selected, ChemTa will automatically used the default picture from <a href="http://gravatar.com" target="_blank">Gravatar</a></small>
        </div>
        <%= f.label :photo, 'Profile Picture' %>
        <%= f.file_field :photo %>
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>

<% end %>