<% if current_user.photo? %> 
  <a href="<%= user_path(current_user) %>"><%= image_tag( current_user.photo.url(:small), alt: current_user.name, class: "gravatar") %></a>
  <% else %>
  <a href="<%= user_path(current_user) %>"><%= gravatar_for user, size: 52 %></a>
<% end %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>